#header-search {
    height: 7vh;
    padding-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index:99;
    width: 100vw;
    background-color: var(--color-background);
}
#main-list-dino {
    width: 100%;
    height: 100%;
    padding-top: 9vh;/*hauteur du header(7) + 2 = 9*/
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        li {
            display: flex;
            flex-direction: column;
            img {
                mix-blend-mode: multiply;
                cursor: pointer;
            }
            a {
                padding:2vh;
                text-align: center;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}