@font-face{
  font-family:"montserrat";
  src:url("../html-css-quest-welcome-on-board-material/polices/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
}
@font-face{
  font-family:"source_sans3";
  src:url("../html-css-quest-welcome-on-board-material/polices/Source_Sans_3/static/SourceSans3-Regular.ttf") format("truetype");
}